@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    display: none;
}

#index {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    height: 10vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

#header .header-left,
#header .header-middle,
#header .header-right {
    display: flex;
    align-items: center;
}

#header .header-middle {
    flex-grow: 1;
}

#header h1 {
    color: black;
    font-size: 24px;
    margin: 0;
}

#header .header-left i, #header .header-right i {
    font-size: 24px;
    font-weight: bold;
    color: grey;
    padding: 0 10px;
}


#content {
    height: fit-content;
    background-color: white;
    padding: 10vh 0 12vh;
}

#footer {
    height: fit-content;
    background-color: #FF3131;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 38px 3vh;
}

#footer i {
    font-size: 8vw;
}

#footer a {
    font-size: 16px;
    text-decoration: none;
}

.form-btn {
    border-right: none;
}

.btn-form {
    border: 1px solid #dee2e6;
    border-left: none;
}

.text-primary {
    color: #FF3131 !important;
}

.btn-primary {
    background-color: #FF3131 !important;
}

.text-secondary {
    color: #FEDE2B !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.border-radius-48 {
    border-radius: 48px;
}

.text-size-156 {
    font-size: 156px;
}

input::placeholder {
    color: #ABABAB !important;
}